*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}

.header {
    text-align: center;
}

.main-content {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}

.about-section {
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end: -1;
    display: grid;
    grid-template-columns: 100%;
}

.about-section > img {
    width: 100%;
}

.resume-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 1;
}

.address-section {
    grid-row-start: 2;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 2;
}

@media screen and (min-width: 768px) {
    .about-section {
        grid-template-columns: 50% 50%;
    }
}